<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Merche's blog</title>
    </head>
    <h1>This is Merche Lorenzo's blog :)</h1>
    <h2>I'm doing this blog in the PyCon</h2>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
-->
<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Merche blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls - Merche Lorenzo's Blog</a></h1>
        </header>

        <article>
            <time>This first post was published: 30.09.2022, 18:36</time>
            <h2><a href="">My first post: un extracto de una clase de Ingeniería de Servidores</a></h2>
            <p>Teoría sobre LVM: por cada disco físico se crea una abstracción lógica llamada Physical Volume. Estos se aglutinan en los llamados Volume Group, y estos VP se desagregan en Logical Volume (/swap,/home,…) estos nos permiten mucha flexibilidad y la posibilidad de usar snapshots.</p>
        </article>

        <article>
            <time>Second post published: 30.09.2022, 18:40</time>
            <h2><a href="">My second post: lo que estoy haciendo ahora mismo</a></h2>
            <p>Estoy ahora mismo en la PyCon 2022 en Granada programando una página web en Django.</p>
        </article>
    </body>
</html>
